header {
    background-color: aqua;
    padding: 15px 15px;
    height: 60px;
    li {
        background-color: black;
        color: beige;
        list-style: none;
        text-align: center;
    }
}